.sub{
  background-color: rgb(214, 16, 16);
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 2px;
  cursor: pointer;
  transition: opacity 0.3s;
  vertical-align: top;
}
.sub:hover{
opacity: 0.6;

}
.sub:active{
opacity: 0.2;
}
.join{
background-color: white;
margin-left: 10px;
color: cornflowerblue;
border-color: cornflowerblue;
padding: 9px 16px;
border-style: solid;
border-width: 1px;
border-radius: 3px;
cursor: pointer;
transition: color 0.3s, background-color 0.3s;
vertical-align: top;
}
.join:hover{
background-color: cornflowerblue;
color: white;

}
.join:active{
opacity: 0.2;
}
.twt{
background-color: rgb(89, 196, 238);
font-weight: 1000;
margin-left: 10px;
color: white;
border: none;
padding: 8px 16px;
border-radius: 20px;
cursor: pointer;
transition: box-shadow 0.15s;
vertical-align: top;
}
.twt:hover{
box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}