body{
  font-family: 'Trebuchet MS';
  margin: 0;
}

p{
  margin: 0;
  line-height: 24px;
}

.container{
  margin: 10px;
  display: block;
  padding: 10px;
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  height: 540px;
  width: 360px;
  border-radius: 5px;
  box-shadow: -2px -2px 2px rgba(0, 0, 0, 0.15);
}

.head{
  color: gray;
  margin-bottom: 20px;
  font-weight: 550;

}

.preview{
  align-items: center;
  display: flex;
  margin-bottom: 10px;
}

.dp{
  width: 70px;
  height: 70px;
  border-radius: 35px;
  margin-right: 10px;
}
.info{
  display: block;
}

.bold{
  display: flex;
}
.text{
  font-weight: 700;
  flex: 1;
}

.message,
.time{
  color: gray;
  font-size: 14px;
}

 

